<section class="footer container-fluid">
    
    {footer -> f:format.raw()}

    <footer class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:image src="{tglogo}" alt="Turngemeinde Biberach 1847 e.V." class="img-responsive"></f:image>
            </div>
            <div class="col-sm-4">
                <p><b>Turngemeinde Biberach 1847 e.V.</b>
                    <br>Adenauerallee 11
                    <br>88400 Biberach
                    <br>Telefon 07351/71855
                    <br>Telefax 07351/14462
                    <br>geschaeftsstelle@tg-biberach.de
                    <br>www.tg-biberach.de</p>
            </div>
            <div class="col-sm-4"><b>Info-Themen</b>
                <ul class="list-unstyled">
                    <li><a href="#">Anmeldung</a></li>
                    <li class="active"><a href="#">Krankenkassen-Erstattung</a></li>
                    <li><a href="#">Sportmedizinische Untersuchung</a></li>
                    <li><a href="#">Sportstätten</a></li>
                    <li><a href="#">Übungshelfer-Team</a></li>
                    <li><a href="#">Zertifizierungen</a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>
