<nav id="navmenu">
    <ul class="list-inline">
        <li><a href="#">Kursangebot</a>
            <ul class="subnav">
                <li><a href="#">Gesund &amp; Fit</a></li>
                <li><a href="#">For for Live</a></li>
                <li><a href="#">Reha-Fit</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="hidden-xs">Betriebliches Gesundheitsmanagement</span><span class="visible-xs">BGM</span></a></li>
        <li class="active"><a href="#">Informationen</a>
            <ul class="subnav">
                <li><a href="#">Anmeldung</a></li>
                <li class="active"><a href="#">Krankenkassen-Erstattung</a></li>
                <li><a href="#">Sportmedizinische Untersuchung</a></li>
                <li><a href="#">Sportstätten</a></li>
                <li><a href="#">Übungshelfer-Team</a></li>
                <li><a href="#">Zertifizierungen</a></li>
            </ul>
        </li>
        <li><a href="#">Impressum</a></li>
    </ul>
</nav>
