<div id="page" {f:if(condition: '{pageareacolor}', then: ' class="{pageareacolor}"')}>
<f:render partial="Header.html" arguments="{_all}"></f:render>
<section class="container stage">
    <f:if condition="{pagelayout} == 2">
        <f:then>

            <f:cObject typoscriptObjectPath="lib.stage"/>

        </f:then>
        <f:else>
            <div class="stage__item_area">
                <f:if condition="!{data.tx_mask_page_hide_title}">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content">
                                <h1>{data.title -> f:format.raw()}</h1>
                            </div>
                        </div>
                    </div>
                </f:if>
                <div class="row">
                    <div class="col-xs-12">

                        <f:cObject typoscriptObjectPath="lib.stage"/>

                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</section>

<section class="container content">
    <f:render section="content"/>
</section>

<f:render partial="Footer.html" arguments="{_all}"/>

</div>
