
<body>
    <div id="page">
        <!--[if lt IE 10]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <f:render partial="Header" arguments="{_all}" />


        <section class="container stage">
            
            {stage -> f:format.raw()}
            
        </section>
        
        
        <section class="container content">

          <f:render section="content" />

            <div class="row intro">
                <div class="col-sm-8">
                    <p>Herzlich willkommen bei TG fit!, dem Bereich für Gesundheits- und Fitness-Angebote der TG Biberach. Entdecken Sie unser breit gefächertes und zertifiziertes Kursangebot und informieren Sie sich über Möglichkeiten für betriebliches Gesundheitsmanagement in Ihrem Unternehmen.
                        <br><b>Wir freuen uns darauf, Sie bei einem unserer Angebote begrüßen zu dürfen!</b></p>
                </div>
                <div class="col-sm-4"><img src="images/TG_RGB.jpg" alt="TG Biberach" class="" width="30%"> <img src="images/sportprogesundheit.gif" alt="Sport pro Gesundheit" class="" width="30%"> <img src="images/pluspunkt.png" alt="Pluspunkt Gesundheit" class="" width="30%"></div>
            </div>
            <h2>Kursangebot</h2>
            <div class="row bg-blau">
                <div class="col-sm-4">
                    <div class="teaser teaser_gesundfit">
                        <figure><img src="images/content/gesundundfit.jpg" alt="Gesund und Fit" class="img-responsive">
                            <figcaption>Gesund und Fit</figcaption>
                        </figure>
                        <p>Die „Klassiker“ für Körper und Geist – für Neueinsteiger und erfahrene Sportler mit kleinen Handicaps!</p><a href="#" class="btn teaser--btn_gesundfit">zu den Angeboten</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="teaser teaser_f4l">
                        <figure><img src="images/content/fitforlife.jpg" alt="" class="img-responsive">
                            <figcaption>For for Life</figcaption>
                        </figure>
                        <p>Aktuelle Trends für Ihre Fitness – ideal auch für Berufstätige oder als Ausgleich während Ausbildung und Studium!</p><a href="#" class="btn teaser--btn_f4l">zu den Angeboten</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="teaser teaser_rehafit">
                        <figure><img src="images/content/rehafit.jpg" alt="" class="img-responsive">
                            <figcaption>Reha-Fit</figcaption>
                        </figure>
                        <p>Sportangebote nach einer Erkrankung oder mit Handicap – die perfekte Ergänzung zu einer ärztlichen Behandlung oder Therapie!</p><a href="#" class="btn teaser--btn_rehafit">zu den Angeboten</a></div>
                </div>
            </div>
            <h2>Betriebliches Gesundheitsmanagement (BGM)</h2>
            <div class="row bg-blau">
                <div class="col-sm-4">
                    <div class="teaser teaser_bgm">
                        <figure><img src="images/content/bgm.jpg" alt="" class="img-responsive">
                            <figcaption>BGM</figcaption>
                        </figure>
                        <p>Sportliche Aktivität als Ausgleich zur täglichen Belastung am Arbeitsplatz – interessant für Arbeitnehmer und -geber.</p><a href="#" class="btn teaser--btn_bgm">zu den Angeboten</a></div>
                </div>
            </div>
        </section>
        
        <f:render partial="Footer" arguments="{_all}" />

    </div>
</body>
