<li class="single-event single-event-{data.tx_mask_eventorientation}" data-start="{data.tx_mask_eventstart}" data-end="{data.tx_mask_eventend}" data-content="" data-event="event__{data.tx_mask_eventarea}">
    <a href="#0">
        <div class="event-name">
            <em>{data.tx_mask_eventtitle}</em>
        </div>
    </a>
        <div class="event-info">
            <div>
                <f:if condition="{data.tx_mask_eventinfo}">
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_eventinfo}</f:format.html>
                </f:if>
                <f:if condition="{data.tx_mask_eventmore}">
                    <hr>
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_eventmore}</f:format.html>
                </f:if>
            </div>
        </div>
</li>