<div class="teaser teaser_{data.tx_mask_tgfit_area}">
  <figure>
    <f:if condition="{data.image.0}">
      <f:link.page pageUid="{data.image.0.link}">
        <f:image image="{data.image.0}" alt="{data.header}" title="{data.header}" class="img-responsive" width="708" />
      </f:link.page>
    </f:if>
    <f:if condition="{data.header}">
      <figcaption>{data.header}</figcaption>
    </f:if>
  </figure>
  <f:if condition="{data.bodytext}">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
  </f:if>
  <f:if condition="{data.header_link}">
      <f:link.page class="btn teaser--btn_{data.tx_mask_tgfit_area}" pageUid="{data.header_link}">zu den Angeboten</f:link.page>
  </f:if>
 </div>
